@using FurnitureStore3.Domain.Entities;
@model OrderViewModel
<link rel="stylesheet" href="~/styles/AddOrder.css" />

@{
    int ab = 0;
        <div class="product-card1">
        <form method="post" enctype="multipart/form-data">
            @foreach (Product product in Model.Products)
            {
                if (product.Id == Model.ProductId)
                {
                    <h1 class="h1">@product.Name</h1>
                <div class="image-container">
                    <img src="/images/products/@product.ImageUrl">
                </div>
                <div class="description-container">
                    <p>@product.Description</p>
                    <p>Вес товара: @product.Weight кг</p>
                    @if (@product.Discount == 0)
                    {
                        <p>Цена товара: @product.Price ₽</p>
                    }
                    else
                    {
                        int ActualPrice = @product.Price / 100 * (100 - @product.Discount);
                        <p>Цена товара: <s>@product.Price ₽</s> @ActualPrice ₽</p>
                    }
                </div>                    
                }
            }
            <div asp-validation-summary="All" class="error-messages"></div>
            
            @foreach (Order order in Model.Orders)
            {

                @if (order.ClientUserId == User.Identity.Name && order.ProductId == Model.ProductId)
                {
                    ab = 1;
                }

            }
            @if (User.Identity.IsAuthenticated)
            {
                @if (ab == 0)
                {
                    <input class="add" type="submit" value="Добавить в корзину" />
                }
                else
                {
                    <input class="add1" type="button" value="Уже в корзине" />
                }
            }
            else
            {
                <input class="add" asp-action="Login" asp-controller="User" value="Авторизироваться" />
            }
            
            
        </form>
    </div>

    <h2 style="text-align: center;">Вам так же подойдет</h2>
    
    
    int category123;
    @foreach (Product product in Model.Products)
    {
        if (product.Id == Model.ProductId)
        {
            category123 = product.CategoryId;
        }
    }
    
    <div class="div1">
    @foreach (Product product in Model.Products)
    {
            @if (product.Id != Model.ProductId && ab != 5 && product.CategoryId == Model.CategoryId && product.Visibility==1)
                {
                    ab++;
                    <div class="product-card2">
                        <div class="product-card-left">
                            @if (@product.Discount > 0)
                            {
                                <div class="saleIcon"><img src="/images/sale2.png" /></div>
                            }
                            <div class="image-container">
                                <img src="/images/products/@product.ImageUrl">
                            </div>
                        </div>
                        <div class="product-card-right">
                            <a asp-action="AddOrder" asp-controller="Orders" asp-route-productId="@product.Id">@product.Name</a>
                            <p>Вес товара: @product.Weight кг</p>
                            @if (@product.Discount == 0)
                            {
                                <p>Цена товара: @product.Price ₽</p>
                            }
                            else
                            {
                                int ActualPrice = @product.Price / 100 * (100 - @product.Discount);
                                <p>Цена товара: @ActualPrice ₽</p>
                            }
                            <div class="placeholder-div"></div>
                        </div>
                    </div>
                }
            
        }
    </div>    
}



<script>
    // получаем кнопку по ее селектору CSS
    let backButton = document.querySelector('#backButton');
    // добавляем обработчик события
    backButton.onclick = () => {
        window.location = "/products/index";
    };
</script>
